.banner {
  background-image: url("https://sangalotech.com/html/13/assets/images/hero-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 115px;
  background-size: cover;
}
.banner .row .left {
  -webkit-transform: translateY(120PX);
          transform: translateY(120PX);
}
.banner .row .left h1 {
  font-size: 4rem;
}
.banner .row .right {
  -webkit-transform: translateY(50PX);
          transform: translateY(50PX);
}
.banner .row .right .ban-img1 {
  border-radius: 0px 100px 0px 100px;
  -webkit-transform: translate(-250px, 60px);
          transform: translate(-250px, 60px);
}
.banner .row .right .ban-img2 {
  border-radius: 0px 100px 0px 100px;
  -webkit-transform: translate(40px);
          transform: translate(40px);
}
.banner .row .right .support {
  position: absolute;
  top: 400px;
  left: 30px;
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 60px 10px;
}
.banner .row .right .support .phone {
  color: #ee4a62;
}

.categories .top-text {
  margin-top: 70px;
}
.categories .top-text .blue {
  color: #1ab79d;
  display: inline;
}
.categories .top-text p {
  padding-top: 10px;
}
.categories .row h2 {
  font-size: 1.5rem;
  padding: 10px 0px;
}
.categories .row .box1 {
  background-color: #e8f7f5;
  border-radius: 20px;
  padding: 30px;
}
.categories .row .box1 .icon {
  background: #d3f0ec;
  padding: 15px;
  border-radius: 50px;
}
.categories .row .box1 .btn {
  background: #d3f0ec;
  border-radius: 10px;
  color: #1ab69d;
  display: inline-block;
}
.categories .row .box1 {
  background-color: #e8f7f5;
  border-radius: 20px;
  padding: 30px;
}
.categories .row .box1 .icon {
  background: #d3f0ec;
  padding: 15px;
  border-radius: 10px;
}
.categories .row .box1 .btn {
  background: #d3f0ec;
  border-radius: 10px;
  color: #1ab69d;
  display: inline-block;
}
.categories .row .box2 {
  background-color: #fdecef;
  border-radius: 20px;
  padding: 30px;
}
.categories .row .box2 .icon {
  background: #fbdbe1;
  padding: 15px;
  border-radius: 50px;
}
.categories .row .box2 .btn {
  background: #fbdbe1;
  border-radius: 10px;
  color: #ee4a62;
  display: inline-block;
}
.categories .row .box3 {
  background-color: #eceffc;
  border-radius: 20px;
  padding: 30px;
}
.categories .row .box3 .icon {
  background: #dbe1f9;
  padding: 15px;
  border-radius: 10px;
}
.categories .row .box3 .btn {
  background: #d3f0ec;
  border-radius: 10px;
  color: #4c69e5;
  display: inline-block;
}
.categories .row .box4 {
  background-color: #fef7e8;
  border-radius: 20px;
  padding: 30px;
}
.categories .row .box4 .icon {
  background: #fdf0d3;
  padding: 15px;
  border-radius: 50px;
}
.categories .row .box4 .btn {
  background: fdf0d3;
  border-radius: 10px;
  color: #f8941f;
  display: inline-block;
}

.aboutus .row .aboutus-left {
  position: absolute;
  top: 100px;
  left: 0px;
}
.aboutus .row .aboutus-left .ladyimg {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.aboutus .row .aboutus-left .card {
  position: absolute;
  top: 0px;
  left: 350px;
  border: none;
  background-color: white;
  border-radius: 0px 100px;
  padding: 20px 20px;
}
.aboutus .row .aboutus-left .card h2 {
  font-size: 1.5rem;
}
.aboutus .row .aboutus-left .card .ring {
  width: 100px;
  padding: 20px 0px;
}
.aboutus .row .aboutus-left .support {
  position: absolute;
  top: 400px;
  left: 30px;
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 60px 10px;
}
.aboutus .row .aboutus-left .support .phone {
  color: #ee4a62;
}
.aboutus .row .aboutus-right {
  margin-left: 250px;
}/*# sourceMappingURL=style.css.map */